
body{
  margin: 0;
  text-align: center;
}

h1{
  margin-top: 0;
  font-family: Sacramento;
  font-size: 500%;

}
p{
  font-size: 350%;
  font-weight: bold;
  font-family: Shalimar;

}

.top-div{
  background-color: #98DDCA;
  padding-top: 100px;
  /*background-size: cover;*/
  align-items: center;
  position:  relative;



}
.middle-div{
  background-color: #F4BEEE;
  /*background-size: cover;*/
  align-items: center;
  /*position:  relative;*/
  /*height:600px;*/


}
.bottom-div{
  background-color: yellow;
}
.quote{
  color: white;

  padding-top: 15%;
}
