body{
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
  font-family: 'Ephesis', cursive;
}

.top-container{
  background-color: #E4F9F5;
}
.middle-container{

}
.top-cloud{

}
.bottom-cloud{
  position: absolute;
}
